/*
Css File to style with
*/
/* 
    Created on : Jan 17, 2022, 12:41:50 AM
    Author     : Ams
*/
#text {
 
  -fx-font: 70px "Verdana";
  -fx-fill: #ff020f;
  -fx-background-color: linear-gradient(from 0% 50% to 0% 100%, reflect, #ffffff,  #000000);
 
}



